{
  "APPS": [
    {
      "name": "Checkpoint",
      "url": "https://github.com/FlagBrew/Checkpoint/releases/latest/download/Checkpoint.nro",
      "dest": "/switch/Checkpoint/Checkpoint.nro"
    },
    {
      "name": "MiAppPersonal",
      "url": "https://github.com/TU_USUARIO/TU_REPO/releases/download/v1.0/miapp.nro",
      "dest": "/switch/MiAppPersonal/miapp.nro"
    }
  ],
  "PORTS": [
    {
      "name": "EjemploPort",
      "url": "https://github.com/TU_USUARIO/TU_REPO/releases/download/v1.0/ejemplo-port.zip",
      "dest": "/switch/EjemploPort.zip"
    }
  ],
  "CFW": [
    {
      "name": "Atmosphere",
      "url": "https://github.com/Atmosphere-NX/Atmosphere/releases/latest/download/atmosphere.zip",
      "dest": "/atmosphere.zip"
    }
  ]
}
